<form (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label>Name of the product</label>
        <input  placeholder="Ex. sandwich" type="text" name="name" [(ngModel)]="name">
    </div>    
    <div class="form-control" >
        <label>Date</label>
        <input  placeholder="Ex. 31/07/2021" type="date" [(ngModel)]="date" name="date" >
    </div>
    <div class="form-control" >
        <label>Weight (gram)</label>
        <input  placeholder="Ex. 200" type="number" [(ngModel)]="weight" name="weight" min="0">
    </div>
    <div class="form-control" >
        <label>Kcal/100gr</label>
        <input  placeholder="Ex. 40" type="number" [(ngModel)]="kcal" name="kcal" min="0">
    </div>
    <input type="submit" value="Add item" class="btn btn-primary"/>
</form>