<div class="form-container"  *ngIf="showedForm" >
    <app-add-kcalitem (onAddItem)="addItem($event)"></app-add-kcalitem>
</div>
<div class="mat-elevation-z8 table-container left">
    <app-kcal-item [itemsDataSource]="itemsDataSource"></app-kcal-item>
    <mat-paginator 
        [length]="200" 
        [pageSize]="25" 
        [pageSizeOptions]="[25, 50, 100, 150, 200]"
        aria-label="Select page">
    </mat-paginator>
</div>
<div class="table-container mat-elevation-z8 right">
    <app-kcal-average [kcalDataSource]="kcalDataSource"></app-kcal-average>
</div>
